/* .progressive_icon {
  display: none;
}
.progressive_icon16 {
  display: block;
} */
/* html,
html[data-color-scheme=light] {
  -elements-accent: #476bf0;
    --elements-accent-hover: #3356d7;
    --elements-accent-active: #2042c2;
    --elements-success: #6b9f48;
    --elements-error: #e55c5c;
    --elements-error-hover: #c84848;
    --elements-attention: #e76528;
} */
.benefitSum {
  margin: 0 -14px 0 0;
}
.benefitClock {
  margin: 0 -14px 0 0;
}
.benefitPassport {
  margin: 0 -14px 0 0;
}