* {
  box-sizing: border-box;
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans400.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans400.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans400.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans400.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans400Italic.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans400Italic.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans400Italic.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans400Italic.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans400Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans500.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans500.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans500.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans500.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans500.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans500Italic.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans500Italic.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans500Italic.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans500Italic.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans500Italic.woff2) format("woff2");
  font-weight: 500;
  font-style: italic
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans600.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans600.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans600.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans600.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans600.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans600Italic.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans600Italic.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans600Italic.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans600Italic.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans600Italic.woff2) format("woff2");
  font-weight: 600;
  font-style: italic
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans700.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans700.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans700.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans700.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans700.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: Gazprombank Sans;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans700Italic.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSans700Italic.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans700Italic.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSans700Italic.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSans700Italic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: Gazprombank Sans Base;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: Gazprombank Sans Base;
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400Italic.eot);
  src: url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400Italic.eot?#iefix) format("embedded-opentype"), url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400Italic.ttf) format("truetype"), url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400Italic.woff) format("woff"), url(https://cdn.gpb.ru/upload/fonts/GPBSansBase400Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic
}

html * {
  font-family: Gazprombank Sans, "sans-serif"
}

:root {
  --Typeface-Font-Family: "Gazprombank-Sans", "sans-serif";
  --Typeface-Regular: 400;
  --Typeface-Medium: 500;
  --Typeface-Demibold: 600;
  --Typeface-Bold: 700;
  --Typeface-Size-H0: 56px;
  --Typeface-Size-H1: 44px;
  --Typeface-Size-H2: 40px;
  --Typeface-Size-H3: 32px;
  --Typeface-Size-H4: 28px;
  --Typeface-Size-H5: 24px;
  --Typeface-Size-H6: 20px;
  --Typeface-Size-H7: 18px;
  --Typeface-Size-P1: 16px;
  --Typeface-Size-P2: 14px;
  --Typeface-Size-P3: 12px;
  --Typeface-Size-Micro: 10px;
  --Typeface-Line-height-H0: 60px;
  --Typeface-Line-height-H1: 48px;
  --Typeface-Line-height-H2: 48px;
  --Typeface-Line-height-H3: 40px;
  --Typeface-Line-height-H4: 32px;
  --Typeface-Line-height-H5: 28px;
  --Typeface-Line-height-H6: 24px;
  --Typeface-Line-height-H7: 22px;
  --Typeface-Line-height-P1: 20px;
  --Typeface-Line-height-P2: 16px;
  --Typeface-Line-height-P3: 16px;
  --Typeface-Line-height-Micro: 12px;
  --Typeface-Letter-spacing-H0: 0.3px;
  --Typeface-Letter-spacing-H1: 0.3px;
  --Typeface-Letter-spacing-H2: 0.3px;
  --Typeface-Letter-spacing-H3: 0.2px;
  --Typeface-Letter-spacing-H4: 0.2px;
  --Typeface-Letter-spacing-H5-Regular: 0;
  --Typeface-Letter-spacing-H5-Demibold: 0.2px;
  --Typeface-Letter-spacing-H5-Bold: 0.2px;
  --Typeface-Letter-spacing-H6: 0.1px;
  --Typeface-Letter-spacing-H7: 0;
  --Typeface-Letter-spacing-P1-Regular: 0;
  --Typeface-Letter-spacing-P1-Medium: 0;
  --Typeface-Letter-spacing-P1-Demibold: 0.1px;
  --Typeface-Letter-spacing-P2: 0;
  --Typeface-Letter-spacing-P3: 0.2px;
  --Typeface-Letter-spacing-Micro: 0.2px
}

a {
  text-decoration: none;
  color: #476bf0;
}
.inline-block {
  display: inline-block;
}
.height-10vh {
  height: 10vh;
}
.height-90vh {
  height: 90vh;
}
.height-100prc {
  height: 100%;
}
.height-35prc {
  height: 35%;
}
.height-20prc {
  height: 20%;
}
.height-2px {
  height: 2px;
}
.height-4px {
  height: 4px;
}
.height-8px {
  height: 8px;
}
.height-16px {
  height: 16px;
}
.height-20px {
  height: 20px;
}
.height-56px {
  height: 56px;
}
.height-160px {
  height: 160px;
}
.min-height-200px {
  min-height: 200px;
}
.width-100prc {
  width: 100%
}
.width-75prc {
  width: 75%
}
.width-50prc {
  width: 50%
}
.width-25prc {
  width: 25%
}
.width-20prc {
  width: 20%
}
.width-5prc {
  width: 5%
}
.width-4px {
  width: 4px;
}
.width-16px {
  width: 16px;
}
.width-20px {
  width: 20px;
}
.min-width-28px {
  min-width: 28px;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.flex-0 {
  flex: 0;
}
.flex-1 {
  flex: 1;
}
.flex-0-200px {
  flex-grow: 0;
  flex-basis: 200px;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-center {
  align-items: center;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.space-evenly {
  justify-content: space-evenly;
}
.pos-abs {
  position: absolute;
}
.pos-rel {
  position: relative;
}
.pos-fixed {
  position: fixed;
}
.pad-0-2 {
  padding: 0 2px;
}
.pad-2-0 {
  padding: 2px 0
}
.pad-bottom-2 {
  padding-bottom: 2px;
}
.pad-4 {
  padding: 4px;
}
.pad-4-0 {
  padding: 4px 0;
}
.pad-0-4 {
  padding: 0 4px;
}
.pad-0-4-0-0 {
  padding: 0 4px 0 0;
}
.pad-4-12 {
  padding: 4px 12px;
}
.pad-8 {
  padding: 8px;
}
.pad-8-0 {
  padding: 8px 0;
}
.pad-0-8 {
  padding: 0 8px;
}
.pad-15 {
  padding: 15px;
}
.pad-0-1dot5em {
  padding: 0 1.5em;
}
.no-border {
  border: none;
}
.border-gaz {
  border: 1px solid #cccfde;
}
.border-gaz-accent {
  border: 1px solid #476bf0;
}
.border-gaz-error {
  border: 1px solid rgb(229, 92, 92);
}
.border-gaz-radio {
  border: 1px solid #cccfde;
}
.border {
  border: 0.5px solid black;
}
.border-1 {
  border: 1px solid black;
}
.border-2 {
  border: 2px solid black;
}
.border-bottom-1 {
  border-bottom: 1px solid black;
}
.border-bottom-2 {
  border-bottom: 2px solid black;
}
.border-top-4 {
  border-top: 4px solid black;
}
.border-right-4 {
  border-right: 4px solid black;
}
.border-bottom-4 {
  border-bottom: 4px solid black;
}
.border-left-4 {
  border-left: 4px solid black;
}
.border-radius-2px {
  border-radius: 2px;
}
.border-radius-8px {
  border-radius: 8px;
}
.border-radius-12px {
  border-radius: 12px;
}
.border-radius-50prc {
  border-radius: 50%;
}
.margin-0 {
  margin: 0;
}
.margin-left-2 {
  margin-left: 2px;
}
.margin-left-4 {
  margin-left: 4px;
}
.margin-left-8 {
  margin-left: 8px;
}
.margin-left-12 {
  margin-left: 12px;
}
.margin-left-16 {
  margin-left: 16px;
}
.margin-left-32 {
  margin-left: 32px;
}
.margin-top-2 {
  margin-top: 2px;
}
.margin-top-4 {
  margin-top: 4px;
}
.margin-top-6 {
  margin-top: 6px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-top-12 {
  margin-top: 12px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-bottom-8 {
  margin-bottom: 8px;
}
.no-display {
  display: none;
}
.invisible {
  visibility: hidden;
}
.scroll {
  overflow: scroll;
}
.scroll-x {
  overflow-x: scroll;
}
.scroll-y {
  overflow-y: scroll;
}
.overflow-hidden {
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.cursor-row-resize {
  cursor: row-resize;
}
.cursor-col-resize {
  cursor: col-resize;
}
.cursor-default {
  cursor: default;
}
.cursor-text {
  cursor: text;
}
.rotate-90 {
  transform: rotate(90deg);
}
.z-index-10 {
  z-index: 10;
}
.z-index-100 {
  z-index: 100;
}
.z-index-1000 {
  z-index: 1000;
}
.z-index-10000 {
  z-index: 10000;
}
.z-index-100000 {
  z-index: 100000;
}
.trbl-0 {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tbl-0 {
  top: 0;
  bottom: 0;
  left: 0;
}
.rbl-0 {
  right: 0;
  bottom: 0;
  left: 0;
}
.rl-0 {
  right: 0;
  left: 0;
}
.rb-0-top-10prc-left-20prc {
  right: 0;
  bottom: 0;
  top: 10%;
  left: 20%;
}
.top-0 {
  top: 0;
}
.top-50prc {
  top: 50%;
}
.top-minus150prc {
  top: -150%;
}
.right-0 {
  right: 0;
}
.right-16px {
  right: 16px;
}
.bottom-0 {
  bottom: 0;
}
.bottom-minus168px {
  bottom: -168px;
}
.left-0 {
  left: 0;
}
.bg-white {
  background: white;
}
.bg-gainsboro {
  background: gainsboro;
}
.bg-app-back {
  background: white;
}
.bg-header {
  background: #a2a2b9;
}
.bg-context-menu {
  background: #dedfe1;
}
.bg-tree {
  background: #ebedf0;
}
.bg-folder {
  background: #f1e7a7;
}
.bg-link {
  background: #476bf0;
}
.bg-domain-icon {
  background: #e09c73;
}
.bg-icon-file-document {
  background: #e7e1e1;
}
.bg-slider-free-space {
 background: rgb(234, 236, 244);
}
.bg-slider-fill-space {
  background: rgb(71, 107, 240);
}
.bg-gaz-progress-empty {
  background: #f4f6fa;
}
.bg-gaz-progress-four {
  background: #dbdfec;
}
.bg-gaz-progress-fill {
  background: linear-gradient(225deg, #3abb87, #43bb3a);
}
.bg-gaz-field-hover:hover {
  background: #f4f6fa;
}
.bg-gaz-field-selected {
  background: #f4f6fa;
}
.bg-gaz-radio {
  background: #476bf0;
}
.bg-gaz-change-credit-parameters {
  background: rgb(245, 245, 245);
}
.animation-gaz-progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-66deg, hsla(0, 0%, 100%, .24) 25%, transparent 0, transparent 50%, hsla(0, 0%, 100%, .24) 0, hsla(0, 0%, 100%, .24) 75%, transparent 0, transparent);
  background-size: 16px 30px;
  animation: gaz_progress 2s linear infinite;
}
@keyframes gaz_progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 16px 0;
  }
}
.bg-transparent-45 {
  background-color: rgba(0,0,0,0.45);
}
.bg-transparent-25 {
  background-color: rgba(0,0,0,0.25);
}
.color-text-secondary {
  color: #818c99;
}
.color-gaz-text-primary {
  color: #0a0a0b;
}
.color-gaz-label {
  color: #6f6f6f;
}
.color-gaz-label-focused {
  color: rgb(58, 100, 208);
}
.color-gaz-error {
  color: rgb(219, 44, 36);
}
.color-gaz-info {
  color: rgb(111, 111, 111);
}
.color-gaz-accent {
  color: rgb(71, 107, 240);
}
.text-center {
  text-align: center;
}
.font-apple {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}
.font-size-14px {
  font-size: 14px;
}
.font-size-16px {
  font-size: 16px;
}
.font-size-20px {
  font-size: 20px;
}
.font-bold {
  font-weight: bold;
}
.font-weight-400 {
  font-weight: 400;
}
.font-weight-600 {
  font-weight: 600;
}
.line-height-1-5 {
  line-height: 1.5;
}
.line-height-16px {
  line-height: 16px;
}
.line-height-20px {
  line-height: 20px;
}
.transition-ease {
  transition: .2s ease-in-out;
}
.opacity-0 {
  opacity: 0;
}
.box-shadow {
  box-shadow: 0 4px 8px rgba(0,0,0,.05),0 8px 24px rgba(0,0,0,.1);
}