* {
    box-sizing: border-box;
}
.height-100 {
    height: 100%;
}
.width-100 {
    width: 100%
}
.row {
    display: flex;
    flex-direction: row;
}
.col {
    display: flex;
    flex-direction: column;
}
.flex-1 {
    flex: 1;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.align-baseline {
    align-items: baseline;
}
.align-stretch {
    align-items: stretch;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.space-around {
    justify-content: space-around;
}
.space-evenly {
    justify-content: space-evenly;
}
.pos-abs {
    position: absolute;
}
.pos-rel {
    position: relative;
}
.pos-fixed {
    position: fixed;
}
.pad-4 {
    padding: 4px;
}
.pad-8 {
    padding: 8px;
}
.pad-vrt-4 {
    padding-top: 4px;
    padding-bottom: 4px;
}
.pad-vrt-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}
.pad-hrz-4 {
    padding-left: 4px;
    padding-right: 4px;
}
.pad-hrz-8 {
    padding-left: 8px;
    padding-right: 8px;
}
.border {
    border: 0.5px solid black;
}
.border-2-bot {
    border-bottom: 2px solid black;
}
.margin-left-2 {
    margin-left: 2px;
}
.margin-left-4 {
    margin-left: 4px;
}
.margin-left-8 {
    margin-left: 8px;
}
.margin-left-16 {
    margin-left: 16px;
}
.margin-top-8 {
    margin-top: 8px;
}
.no-display {
    display: none;
}
.invisible {
    visibility: hidden;
}
.scroll {
    overflow: scroll;
}
.scroll-x {
    overflow-x: scroll;
}
.scroll-y {
    overflow-y: scroll;
}
.cursor-pointer {
    cursor: pointer;
}
.rotate-90 {
    transform: rotate(90deg);
}
.z-index-1000 {
    z-index: 1000;
}
.trbl-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.right-0 {
    right: 0;
}
.bottom-0 {
    bottom: 0;
}
.bg-white {
    background: white;
}
.bg-transparent {
    background-color: rgba(0,0,0,0.45);
}
